<div id="fxview" ng-controller="View3Ctrl as cntrl">
    <div id="fxleftsection">
            <button ng-click="getCurrencies()">Fetch currencies</button>
            <input type="text" id="myInput" placeholder="Filter currency" ng-model="currencyFilter">
            <ul class="leftlist">
                <li ng-repeat="val in data | filter:currencyFilter">
                    <span><button ng-click="cntrl.addCurrentCurrency(val)">+</button> {{val}}</span>
                </li>
            </ul>
    </div>
    <div id="fxbody">
            <div id="fxitemrepeater" ng-repeat="cur in cntrl.currentCurrency track by $index" row="cur"></div>
    </div>
</div>